<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.views">
      <category
            name="Swimlane Testing"
            id="com.gmmapowell.swimlane">
      </category>
      <view
            name="Swimlane"
            icon="icons/sample.gif"
            category="com.gmmapowell.swimlane"
            class="com.gmmapowell.swimlane.eclipse.views.SwimlaneViewPart"
            id="com.gmmapowell.swimlane.views.SwimlaneView">
      </view>
	</extension>
   
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
	    	locationURI="toolbar:com.gmmapowell.swimlane.views.SwimlaneView">
		    <command
				id="com.gmmapowell.swimlane.eclipse.toolbar.ShowSwimlaneButton"
		        commandId="com.gmmapowell.swimlane.eclipse.commands.ShowSwimlane"
				style="radio"
				tooltip="Show Swimlane Diagram"
			>
			</command>
		</menuContribution>
	</extension>
   
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
	    	locationURI="toolbar:com.gmmapowell.swimlane.views.SwimlaneView">
		    <command
				id="com.gmmapowell.swimlane.eclipse.toolbar.TestResults"
		        commandId="com.gmmapowell.swimlane.eclipse.commands.TestResults"
				style="radio"
				tooltip="Test Results"
			>
			</command>
		</menuContribution>
	</extension>
   
	<extension
    	point="org.eclipse.ui.menus">
		<menuContribution
    		locationURI="toolbar:com.gmmapowell.swimlane.views.SwimlaneView">
	    	<command
	        	id="com.gmmapowell.swimlane.eclipse.toolbar.ShowErrorsButton"
	        	commandId="com.gmmapowell.swimlane.eclipse.commands.ShowErrors"
				style="radio"
				tooltip="Show Errors Pane"
			>
			</command>
		</menuContribution>
	</extension>
   
	<extension
    	point="org.eclipse.ui.menus">
		<menuContribution
    		locationURI="toolbar:com.gmmapowell.swimlane.views.SwimlaneView">
	    	<command
	            commandId="com.gmmapowell.swimlane.eclipse.commands.RunAll"
	            id="com.gmmapowell.swimlane.eclipse.toolbar.RunAllButton"
	            style="push"
	            tooltip="Run All Tests"
            >
			</command>
		</menuContribution>
	</extension>
   
	<extension
         point="org.eclipse.ui.commands">
		<category
			name="Swimlane Testing"
            id="com.gmmapowell.swimlane">
		</category>
		<command
   			id="com.gmmapowell.swimlane.eclipse.commands.ShowSwimlane"
   			name="Show Swimlanes"
   			defaultHandler="com.gmmapowell.swimlane.eclipse.handlers.ShowSwimlaneHandler"
		>
		   	<commandParameter
		   		id="org.eclipse.ui.commands.radioStateParameter"
		   		name="Swimlane"
		   		optional="false">
		   	</commandParameter>
		   	<state class="org.eclipse.ui.handlers.RadioState:Swimlane"
		   		id="org.eclipse.ui.commands.radioState">
		   	</state>
	   </command>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<category
			name="Swimlane Testing"
            id="com.gmmapowell.swimlane">
		</category>
		<command
   			id="com.gmmapowell.swimlane.eclipse.commands.TestResults"
   			name="Test Results"
   			defaultHandler="com.gmmapowell.swimlane.eclipse.handlers.TestResultsHandler"
		>
		   	<commandParameter
		   		id="org.eclipse.ui.commands.radioStateParameter"
		   		name="Tests"
		   		optional="false">
		   	</commandParameter>
		   	<state class="org.eclipse.ui.handlers.RadioState:Swimlane"
		   		id="org.eclipse.ui.commands.radioState">
		   	</state>
	   </command>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<category
            name="Swimlane Testing"
            id="com.gmmapowell.swimlane">
		</category>
		<command
   			id="com.gmmapowell.swimlane.eclipse.commands.ShowErrors"
   			name="Show Errors"
   			defaultHandler="com.gmmapowell.swimlane.eclipse.handlers.ShowErrorsHandler"
		>
			<commandParameter
   				id="org.eclipse.ui.commands.radioStateParameter"
   				name="Errors"
		   		optional="false">
   			</commandParameter>
			<state class="org.eclipse.ui.handlers.RadioState:Swimlane"
	   			id="org.eclipse.ui.commands.radioState">
			</state>
	   </command>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<category
            name="Swimlane Testing"
            id="com.gmmapowell.swimlane">
		</category>
		<command
   			id="com.gmmapowell.swimlane.eclipse.commands.RunAll"
   			name="Run All"
   			defaultHandler="com.gmmapowell.swimlane.eclipse.handlers.RunAllTestsHandler"
		>
	   </command>
   </extension>
</plugin>
