<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Swimlane Testing"
            id="com.gmmapowell.swimlane">
      </category>
      <view
            name="Hexagons"
            icon="icons/sample.gif"
            category="com.gmmapowell.swimlane"
            class="com.gmmapowell.swimlane.views.HexagonView"
            id="com.gmmapowell.swimlane.views.HexagonView">
      </view>
   </extension>

</plugin>
